$color-default: map-get(map-get($colors, 'grey'), '500');
$color-default-hover: map-get(map-get($colors, 'grey'), '700');
$color-default-focus: map-get(map-get($colors, 'grey'), '800');
$color-primary: map-get(map-get($colors, 'primary'), '500');
$color-primary-hover: map-get(map-get($colors, 'primary'), '700');
$color-primary-focus: map-get(map-get($colors, 'primary'), '800');
$color-accent: map-get(map-get($colors, 'accent'), '500');
$color-accent-hover: map-get(map-get($colors, 'accent'), '700');
$color-accent-focus: map-get(map-get($colors, 'accent'), '800');
$color-danger: map-get(map-get($colors, 'danger'), '500');
$color-danger-hover: map-get(map-get($colors, 'danger'), '700');
$color-danger-focus: map-get(map-get($colors, 'danger'), '800');
$color-success: map-get(map-get($colors, 'success'), '500');
$color-success-hover: map-get(map-get($colors, 'success'), '700');
$color-success-focus: map-get(map-get($colors, 'success'), '800');
$color-warning: map-get(map-get($colors, 'warning'), '500');
$color-warning-hover: map-get(map-get($colors, 'warning'), '700');
$color-warning-focus: map-get(map-get($colors, 'warning'), '800');

.button {
  cursor: pointer;
  display: inline-block;
  text-decoration: none;
  font-size: $base-font-size;
  transition: 0.3s all ease;
  padding: round($base-spacing-unit/4) round($base-spacing-unit/2);
  text-align: center;
  border: none;
  border-radius: 0;
  margin: 0;
  white-space: nowrap;
  line-height: normal;
}

.btn {
  @extend .button;
  @include button-color($color-default, $color-default-hover, $color-default-focus);
}
.btn--primary {
  @extend .button;
  @include button-color($color-primary, $color-primary-hover, $color-primary-focus);
}
.btn--accent {
  @extend .button;
  @include button-color($color-accent, $color-accent-hover, $color-accent-focus);
}
.btn--success {
  @extend .button;
  @include button-color($color-success, $color-success-hover, $color-success-focus);
}
.btn--warning {
  @extend .button;
  @include button-color($color-warning, $color-warning-hover, $color-warning-focus);
}
.btn--danger {
  @extend .button;
  @include button-color($color-danger, $color-danger-hover, $color-danger-focus);
}

.btn--clear {
  @extend .button;
  @include button-clear-color($color-default, $color-default-hover, $color-default-focus);
}
.btn--primary-clear {
  @extend .button;
  @include button-clear-color($color-primary, $color-primary-hover, $color-primary-focus);
}
.btn--accent-clear {
  @extend .button;
  @include button-clear-color($color-accent, $color-accent-hover, $color-accent-focus);
}
.btn--success-clear {
  @extend .button;
  @include button-clear-color($color-success, $color-success-hover, $color-success-focus);
}
.btn--warning-clear {
  @extend .button;
  @include button-clear-color($color-warning, $color-warning-hover, $color-warning-focus);
}
.btn--danger-clear {
  @extend .button;
  @include button-clear-color($color-danger, $color-danger-hover, $color-danger-focus);
}

.btn--round {
  border-radius: 5px;
}