$gutter: $base-spacing-unit;
$gutter--narrower: round($gutter / 4);
$gutter--narrow:   round($gutter / 2);
$gutter--wide:     round($gutter * 2);
$gutter--wider:    round($gutter * 4);

$max-width: 1200px + (2 * $gutter);

.container {
  max-width: $max-width;
  padding: 0 $gutter;
  margin: 0 auto;
}

.row {
  list-style: none;
  padding: 0;
  margin: 0;
  margin-left: -$gutter;
}

.row__item {
  display: inline-block;
  padding-left: $gutter;
  vertical-align: top;
  width: 100%;
}

.row--narrower {
  margin-left: -$gutter--narrower;

  > .row__item {
    padding-left: $gutter--narrower;
  }
}

.row--narrow {
  margin-left: -$gutter--narrow;

  > .row__item {
    padding-left: $gutter--narrow;
  }
}

.row--wide {
  margin-left: -$gutter--wide;

  > .row__item {
    padding-left: $gutter--wide;
  }
}

.row--wider {
  margin-left: -$gutter--wider;

  > .row__item {
    padding-left: $gutter--wider;
  }
}

.row--flush {
  margin-left: 0;

  > .row__item {
    padding-left: 0;
  }
}

.row--reverse {
  direction: rtl;
  text-align: left;

  > .row__item {
    direction: rtl;
    text-align: left;
  }
}

.row--middle {
  > .row__item {
    vertical-align: middle;
  }
}

.row--bottom {
  > .row__item {
    vertical-align: bottom;
  }
}

.row--baseline {
  > .row__item {
    vertical-align: baseline;
  }
}

.row--right {
  text-align: right;
}

.row--center {
  text-align: center;
}

.row--auto {
  > .row__item {
    width: auto;
  }
}