$font-size: $base-font-size;

p,
ul,
div,
span,
input,
textarea {
  @include font-size($font-size);
}

.text--center {
  text-align: center;
}
.text--left {
  text-align: left;
}
.text--right {
  text-align: right;
}

.text--underline {
  text-decoration: underline;
}
.text--italic {
  font-style: italic;
}
.text--bold {
  font-style: bold;
}