$color-white: map-get(map-get($colors, 'white'), '500');

@mixin button-color($main-color, $hover-color, $focus-color) {
  color: $color-white;
  background-color: $main-color;

  &:hover,
  &.hover {
    background-color: $hover-color;
  }
  &:focus,
  &.focus {
    outline: $focus-color;
    background-color: $focus-color;
  }
  &:disabled,
  &.disabled {
    background-color: map-get(map-get($colors, 'grey'), '300');
    color: map-get(map-get($colors, 'grey'), '800');
    cursor: not-allowed;
    &:hover,
    &.hover,
    &:focus,
    &.focus {
      background-color: map-get(map-get($colors, 'grey'), '300');
      color: map-get(map-get($colors, 'grey'), '800');
      cursor: not-allowed;
    }
  }
}

@mixin button-clear-color($main-color, $hover-color, $focus-color) {
  background-color: $color-white;
  color: $main-color;
  border: 1px solid $main-color;
  &:hover,
  &.hover {
    color: $color-white;
    background-color: $hover-color;
    border-color: $hover-color;

  }
  &:focus,
  &.focus {
    outline: $focus-color;
    color: $color-white;
    background-color: $focus-color;
    border-color: $focus-color;

  }
  &:disabled,
  &.disabled {
    background-color: $color-white;
    color: map-get(map-get($colors, 'grey'), '300');
    color: map-get(map-get($colors, 'grey'), '800');
    cursor: not-allowed;
    &:hover,
    &.hover,
    &:focus,
    &.focus {
      background-color: map-get(map-get($colors, 'grey'), '300');
      color: $color-white;
      cursor: not-allowed;
    }
  }
}